=content_for(:page_title, "Academic")

%p.welcome
  Between 2008 and 2012 I was working towards a Computer Science PhD at the University of Exeter,
  this page provides some information about my thesis and other work completed while studying.

%p
  In 2012 I completed my PhD (awarded in 2013), the result of which is a thesis titled
  <i>Identification of Change in a Dynamic Dot Pattern and its use in the Maintenance
  of Footprints</i>/. The work looks at the tracking of key identifiers of sets of points
  as the points change to be able to update a representative shape of the point sets.
  The abstract is attached below and the thesis is available from the University of Exeter library.

%p
  During the course of completing my PhD I produced several published papers and took part
  in the organisation of a postgraduate conference, details on these are listed below.

.row
  .col-sm-12
    %h3 Thesis Abstract:
    .abstract
      %p
        Examples of spatio-temporal data that can be represented as sets of points (called dot patterns) are pervasive in many applications, for example when tracking herds of migrating animals, ships in busy shipping channels and crowds of people in everyday life. The use of this type of data extends beyond the standard remit of Geographic Information Science (GISc), as classification and optimisation problems can often be visualised in the same manner.
      %p
        A common task within these fields is the assignment of a region (called a footprint) that is representative of the underlying pattern. The ways in which this footprint can be generated has been the subject of much research with many algorithms having been produced. Much of this research has focused on the dot patterns and footprints as static entities, however for many of the applications the data is prone to change.
      %p
        This thesis proposes that the footprint need not necessarily be updated each time the dot pattern changes; that the footprint can remain an appropriate representation of the pattern if the amount of change is slight. To ascertain the appropriate times at which to update the footprint, and when to leave it as it is, this thesis introduces the concept of change identifiers as simple measures of change between two dot patterns. Underlying the change identifiers is an in-depth examination of the data inherent in the dot pattern and the creation of descriptors that represent this data.
      %p
        The experimentation performed by this thesis shows that change identifiers are able to distinguish between different types of change across dot patterns from different sources. In doing so the change identifiers reduce the number of updates of the footprint while maintaining a measurably good representation of the dot pattern.

.row
  .col-sm-12
    %h3 Papers
    %ul.academic-listing
      %li
        Maximillian Dupenois and Antony Galton,
        %i Assigning footprints to dot sets: An analytical survey,
        In: Spatial Information Theory: Proceedings of the 9<sup>th</sup> International Conference
        COSIT 2009, eds., K. S. Hornsby, C. Claramunt, M. Denis, and G. Ligozat, pp. 227–244, Berlin, 2009.
        Springer.
      %li
        Maximillian Dupenois and Antony Galton,
        %i The Use of Change Identifiers to Update Footprints of Dot Patterns in Real Time,
        In: Spatio-Temporal Dynamics 2010, eds., Mehul Bhatt, Hans Guesgen and Shyamanta Hazarika.
        Workshop Proceedings of European Conference on Artificial Intelligence (ECAI 10), pp. 7–12, Lisbon, Portugal, 2010.
      %li
        Kent McClymont, Maximillian Dupenois and David Walker,
        %i The lay of the land: a brief survey of problem understanding
        In: GECCO '12 Proceedings of the 14th annual conference companion
        on Genetic and evolutionary computation.

.row
  .col-sm-12
    %h3 Academic Professional Activities
    %ul.academic-listing
      %li 
        %strong Editor:
        Proceedings of the 2<sup>nd</sup> Postgraduate Conference for Computing: Application and Theory
        (PCCAT 2011), eds., Maximillian Dupenois and David Walker, Exeter, 2011, pubs., University of Exeter.
      %li
        %strong Reviewer:
        Postgraduate Conference for Computing: Application and Theory (PCCAT 2011).
      %li
        %strong Reviewer:
        Journal of Spatial Information Science (JOSIS) No. 2: Special feature on Behaviour Monitoring and Interpretation.
      %li
        %strong Commitee Position:
        As part of the committee for the first Postgraduate Conference for Computing:
        Application and Theory (PCCAT 2010) I handled the marketing materials and, along with a colleague,
        created the conference website. PCCAT is a general computing conference intended to provide a forum for
        postgraduates to discuss their research and start to build a network of researchers from other institutions
        in the south west region.
      %li
        %strong Commitee Position:
        As co-chair for the second Postgraduate Conference for Computing: Application and Theory (PCCAT 2011) I,
        along with a colleague, led the commitee. This included securing funding for the conference and liasing
        with other universities to raise interest from attendees. We were fortunate enough to be able to have
        Professor Steve Furber, the ICL Professor of Computer Engineering at the University of Manchester,
        as the keynote speaker.
