%h3 Basic Game Engine
.tags.meta
  %span.glyphicon.glyphicon-tags
  Java, game
.code.meta
  %span.glyphicon.glyphicon-file
  %a{href: 'https://github.com/maxdupenois/SimpleComponentEntityGameEngine', title: 'Basic Game Engine'}
    https://github.com/maxdupenois/SimpleComponentEntityGameEngine

%p 
  This incredibly original name refers to a project very much in progress. I am creating a 2d game engine in Java using a scene-state and component-entity architecture. Despite there being several already created such engines using my own just makes life easier when I want to add new bits or test out new ideas.

%p
  It's being used for two projects at the moment, one University of Exeter - Bridging the Gaps project between the Computer Science and Psychology departments and one personal project looking at ways of procedurally generating dungeon maps.

%p
  Bear in mind it is massively under-documented as it grew out of some tests I was running and never expected to go anywhere.
