%h3 Bemazed
.tags.meta
  %span.glyphicon.glyphicon-tags
  Node, game, wip
.code.meta
  %span.glyphicon.glyphicon-file
  %a{href: 'https://github.com/maxdupenois/bemazed', title: 'bemazed'}
    https://github.com/maxdupenois/bemazed

%p 
  A WIP game using randomly generated mazes and hopefully showcasing some
  interesting ideas. The latter may take some time to emerge.
  -#
    More information
    can be found
    =link_to marti.marticle_path(path: 'bemazed') do
      here
