%h3 Depth
.tags.meta
  %span.glyphicon.glyphicon-tags
  gems, ruby, misc
.code.meta
  %span.glyphicon.glyphicon-file
  %a{href: 'https://github.com/maxdupenois/depth', title: 'depth'}
    https://github.com/maxdupenois/depth

%p 
  A utility gem to manipulate complex hash structures.
  More information can be found
  =link_to marti.marticle_path(path: 'depth') do
    here
