%h3 Dilemma
.tags.meta
  %span.glyphicon.glyphicon-tags
  Node, JavaScript, web sockets, game
.link.meta
  %span.glyphicon.glyphicon-link
  Not up yet
.code.meta
  %span.glyphicon.glyphicon-file
  %a{href: 'https://github.com/maxdupenois/dilemma', title: 'Dilemma'}
    https://github.com/maxdupenois/dilemma

%p 
  Dilemma was/is my first attempt at node and an experiment on what can be done with websockets and the Canvas element. Hopefully, should I ever have free time again, it'll be a multiplier in-browser planetary expansion game using the Prisoners' Dilemma as the underlying mechanic.

=image_tag('projects/dilemma.png', title: "", alt: "Dilemma image", width: '100%')
