%h3 Marti
.tags.meta
  %span.glyphicon.glyphicon-tags
  Ruby, Rails, content
.link.meta
  %span.glyphicon.glyphicon-link
  %a{href: marticles.root_path, title: 'Articles'}
    Articles
.code.meta
  %span.glyphicon.glyphicon-file
  %a{href: 'https://github.com/maxdupenois/markdown_articles', title: 'Marti'}
    https://github.com/maxdupenois/markdown_articles

%p 
  Marti is a markdown articles rails engine (yes, another one). It's quite simple to use and it's the one I use on this site. Articles are placed in a given directory and meta information can be attached to the articles by simply adding it to the top of the file. They can be cached using a supplied caching engin and are ordered by the last updated timestamp on the file.
