%h3 Toroid Wars
.tags.meta
  %span.glyphicon.glyphicon-tags
  Java, game, educational
.link.meta
  %span.glyphicon.glyphicon-link
  %a{href: 'http://people.exeter.ac.uk/km314/toroidwars/', 
  title: 'Toroid Wars 2009'}
    http://people.exeter.ac.uk/km314/toroidwars/
  %a{href: 'http://people.exeter.ac.uk/km314/toroidwars2010/',
  title: 'Toroid Wars 2010'}
    http://people.exeter.ac.uk/km314/toroidwars2010/
.code.meta
  %span.glyphicon.glyphicon-file
  Not yet available

%p
  A project conceived of with Kent McClymont that ran for two years, Toroid Wars was a programming competition, aimed at undergraduates, with the goal of producing an AI player for a provided game. The players would then be run in a tournament with prizes being awarded to the creator of the winning player.

%p The first year (2009) used a concept similar to 1D risk, while the second (2010) pit tanks against each other on a toroidal maze.

=image_tag('projects/toroid-wars.png', title: "", alt: "Toroid Wars image")
