%h3 TraceRT
.tags.meta
  %span.glyphicon.glyphicon-tags
  PhP, JavaScript, dynamic programming, game
.link.meta
  %span.glyphicon.glyphicon-link
  %a{href: 'http://blackbox.3void.com', title: 'TraceRT'}
    http://blackbox.3void.com
.code.meta
  %span.glyphicon.glyphicon-file
  Not yet available

%p 
  TraceRT is a project designed to test some ideas about creating a javascript console based hacking game. In fact the idea was to create a framework that could be used to create any form of console based game, including a rogue like dungeon crawler.
%p As it currently sits it has functions for registering and sending messages to other players, but it makes use of some dynamic function assignment ideas code to make uploading new functions relatively straightforward.

=image_tag('projects/tracert.jpg', title: "Should you require help logging in to your own account, maybe hacking isn't for you", alt: "TraceRT image")
