=content_for(:page_title, "Home")
%p.welcome
  <strong>Hello</strong>, this is the website of Max Dupenois, a 
  developer/data scientist currently working in Camden for a company 
  called <a href="https://www.driftrock.com" title="Driftrock">Driftrock</a>.
  Below is the most recent thing I have written, honestly that may not update
  that often, and when it does it's usually so that I can remember something
  interesting or difficult that I've dealt with recently.

%hr

.article
  .article-header
    %h2.article-title=@latest_article.title
  =@latest_article.content.html_safe
